<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DBServer"             value="DESKTOP-9JHJ3VN"/> <!--".\MSSQLUCBCPS01"-->
    <add key="LogPath"              value="D:\FloraLog"/>
    <add key="IntervalInSeconds"    value="0.5"/>
    <add key="CBSURI"               value="http://172.31.200.140:2015"/>

    <!--Outward-->
    <add key="OCREATETRANSACTION_IOPK_REQ" value="http://fcubs.ofss.com/service/FCUBSCGService" />
    <add key="OSOURCE" value="CGFSFS" />
    <add key="OUBSCOMP" value="FCUBS" />
    <add key="OUSERID" value="CLGTXN01" />
    <add key="OMODULEID" value="CG" />
    <add key="OSERVICE" value="FCUBSCGService" />
    <add key="OOPERATION" value="CreateTransaction" />
    <add key="OSOURCE_OPERATION" value="CreateTransaction" />
    <add key="OBRANCH" value="072" />
    <add key="OROUTINGNO" value="245272680" />

    <!--Common-->
    <add key="SOURCE" value="CGFSFS" />
    <add key="UBSCOMP" value="FCUBS" />
    <add key="USERID" value="CLGTXN01" />
    <add key="BRANCH" value="072" />
    <add key="MODULEID" value="ST" />
    <add key="SERVICE" value="FCUBSCGService" />
    <add key="OPERATION" value="QueryTransaction" />
    <add key="SOURCE_OPERATION" value="QueryTransaction" />
  </appSettings>
</configuration>