<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="DBServer"             value="172.31.37.11,1433"/>
    <add key="LogPath"              value="D:\FloraLog"/>
    <add key="IntervalInSeconds"    value="1"/>
    <add key="CBSURI"               value="http://172.31.200.140:2015"/>

    <!--Outward-->
    <add key="OCREATETRANSACTION_IOPK_REQ" value="http://fcubs.ofss.com/service/FCUBSCGService" />
    <add key="OSOURCE" value="CGFSFS" />
    <add key="OUBSCOMP" value="FCUBS" />
    <add key="OUSERID" value="CLGTXN01" />
    <add key="OMODULEID" value="CG" />
    <add key="OSERVICE" value="FCUBSCGService" />
    <add key="OOPERATION" value="CreateTransaction" />
    <add key="OSOURCE_OPERATION" value="CreateTransaction" />
    <add key="OBRANCH" value="072" />
    <add key="OROUTINGNO" value="245272680" />

    <!--IRE-->
    <add key="IRESOURCE" value="CGFSFS" />
    <add key="IREUBSCOMP" value="FCUBS" />
    <add key="IREUSERID" value="CLGTXN01" />
    <add key="IREBRANCH" value="000" />
    <add key="IREMODULEID" value="CG" />
    <add key="IRESERVICE" value="FCUBSCGService" />
    <add key="IREOPERATION" value="CreateClearingReject" />
    <add key="IRESOURCE_OPERATION" value="CreateClearingReject" />
    <add key="IREROUTINGNO" value="245272680" />

    <!--Common-->
    <add key="SOURCE" value="CGFSFS" />
    <add key="UBSCOMP" value="FCUBS" />
    <add key="USERID" value="CLGTXN01" />
    <add key="BRANCH" value="072" />
    <add key="MODULEID" value="ST" />
    <add key="SERVICE" value="FCUBSCGService" />
    <add key="OPERATION" value="QueryTransaction" />
    <add key="SOURCE_OPERATION" value="QueryTransaction" />
  </appSettings>
</configuration>